// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
}


ul {
  list-style-type: none;
}

a {
  color: #54DD88;
  text-decoration: underline;
}


.thearrow {
  color: #54DD88;
  margin-top: 35px;
}

#visions {
  color: #54DD88;
}

#green {
  color: #54DD88;
}
#writter {
  color: #54DD88;
}
.competences {

}

.container {
  margin-top: 50px;
}


abbr {
  font-style: italic;
  font-weight: 100;
}
/**** progress bar *****/

.allprogressbar {
  margin-top: 50px;
}



/**** Sass Variables *****************************************************/
$bodyFont: 'Open Sans', sans-serif;

.cardss-wrapper {
  width: 400px;
  height: 500px;
  position: relative;
}

.cardss {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0s;

  .cardss-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: 1s;
  }

  &:hover img {
    opacity: 0.4;
    transition: 0.3s;
  }
}

.cardss:hover .cardss-image {
  transform: translateY(-100px);
  transition: all .9s;
}

/**** Social Icons *****/

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;

  li {
    list-style: none;

    a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #fff;
      font-size: 23px;
      color: #333;
      font-weight: bold;
      margin: 0 6px;
      transition: .4s;
      transform: translateY(200px);
      opacity: 0;
    }
  }
}

.cardss:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
}

.social-icons li a:hover {
  background: #000;
  transition: .2s;
  .fab {
    color: #fff;
  }
}

.social-icons li a .fab {
  transition: .8s;

  &:hover {
      transform: rotateY(360deg);
      color: #fff;
  }
}

.cardss:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}
.cardss:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}
.cardss:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}
.cardss:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

/**** Personal Details ****/

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;

  h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;

    .job-title {
        font-size: 1rem;
        line-height: 2.5rem;
        color: #333;
        font-weight: 300;
    }
  }
}


/**** Range home ****/
input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #03a9f4;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #03a9f4;
}
.range-wrap{
  width: 500px;
  position: relative;
}
.range-value{
  position: absolute;
  top: -50%;
}
.range-value span{
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #03a9f4;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
