// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
}


ul {
  list-style-type: none;
}

a {
  color: #54DD88;
}

.thearrow {
  color: #54DD88;
  margin-top: 35px;
}

#visions {
  color: #54DD88;
}

#green {
  color: #54DD88;
}
#writter {
  color: #54DD88;
}
.competences {

}

.container {
  margin-top: 50px;
}

abbr {
  font-style: italic;
  font-weight: 100;
}
/**** progress bar *****/

.allprogressbar {
  margin-top: 50px;
}

/**** Sass Variables *****************************************************/
$bodyFont: 'Open Sans', sans-serif;

.cardss-wrapper {
  width: 400px;
  height: 500px;
  position: relative;
}

.cardss {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0s;

  .cardss-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: 1s;
  }

  &:hover img {
    opacity: 0.4;
    transition: 0.3s;
  }
}

.cardss:hover .cardss-image {
  transform: translateY(-100px);
  transition: all .9s;
}

/**** Social Icons *****/

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;

  li {
    list-style: none;

    a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #fff;
      font-size: 23px;
      color: #333;
      font-weight: bold;
      margin: 0 6px;
      transition: .4s;
      transform: translateY(200px);
      opacity: 0;
    }
  }
}

.cardss:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
}

.social-icons li a:hover {
  background: #000;
  transition: .2s;
  .fab {
    color: #fff;
  }
}

.social-icons li a .fab {
  transition: .8s;

  &:hover {
      transform: rotateY(360deg);
      color: #fff;
  }
}

.cardss:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}
.cardss:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}
.cardss:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}
.cardss:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

/**** Personal Details ****/

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;

  h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;

    .job-title {
        font-size: 1rem;
        line-height: 2.5rem;
        color: #333;
        font-weight: 300;
    }
  }
}


/**** Range home ****/
input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #03a9f4;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #03a9f4;
}
.range-wrap{
  width: 500px;
  position: relative;
}
.range-value{
  position: absolute;
  top: -50%;
}
.range-value span{
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #03a9f4;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}


// image schema
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #schema {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  #schema {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  #schema {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #schema {
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #schema {
  }
}

// fin schema small


// image schema_small
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #schema_small {
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  #schema_small {
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  #schema_small {
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #schema_small {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #schema_small {
    display: none;
  }
}
// tenta animer item


.item {
  width:125px;
  height:125px;
  border:4px solid #222;
  margin:5px 5px 5px 0;

  /* required to hide the image after resized */
  overflow:hidden;

  /* for child absolute position */
  position:relative;

  /* display div in line */
  float:left;
}

.item .caption {
  width:125px;
  height:125px;
  background:#000;
  color:#fff;
  font-weight:bold;

  /* fix it at the bottom */
  position:absolute;
  left:0;

  /* hide it by default */
  display:none;

  /* opacity setting */
  filter:alpha(opacity=80);    /* ie  */
  -moz-opacity:0.8;    /* old mozilla browser like netscape  */
  -khtml-opacity: 0.8;    /* for really really old safari */
  opacity: 0.8;    /* css standard, currently it works in most modern browsers like firefox,  */

}

.item .caption a {
  text-decoration:none;
  color: #54DD88;
  font-size:16px;

  /* add spacing and make the whole row clickable*/
  padding:5px;
  display:block;
}

.item .caption p {
  padding:5px;
  margin:0;
  font-size:12px;
}

.logo img {
  border:0;
  /* allow javascript moves the img position*/
  position:absolute;
}

.clear {
  clear:both;
}

