<div class="footer">
  <div class="footer-links">
    <a target=_blank href="https://github.com/asfxgf"><i class="fab fa-github"></i></a>
    <a target=_blank href="https://www.instagram.com/quentintin1/"><i class="fab fa-instagram"></i></a>
    <a target=_blank href="https://www.facebook.com/quentin.deleglise"><i class="fab fa-facebook"></i></a>
    <a target=_blank href="https://medium.com/@quentindeleglise"><i class="fab fa-medium"></i></a>
    <a target=_blank href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Ce site à été fait avec <i class="fas fa-heart"></i> par Quentin DELEGLISE
  </div>
</div>
