<h1>Ici je liste tous mes articles</h1>
<!--Plus tard, voir pour faire des cards avec le lien etc -->
<ul>
  <li>Pourquoi les agences digitales ont un problème de business model</li>
  <li>Comment automatiser l'amour (ou les coups d'un soir)</li>
  <li>Tech : How to become Tinder's god</li>
  <li>A 21 ans son portfolio est estimé à X€</li>
</ul>


<p><%= link_to "Retour Home", root_path %></p>
