
<h1>Bienvenue dans ma bibliothèque</h1>
<p>Un livre t'interesse ? : <A HREF="mailto:deleglise.quentin@hotmail.fr">deleglise.quentin@hotmail.fr </A></p>


<h1>Liste des livres :</h1>
<!-- A chercher + tard sur comment intégrer des livres et pouvoir les ajouter / supprimer / faire des cards aussi + tard-->
<ul>
  <li>livre 1</li>
  <li>livre 2</li>
  <li>livre 3</li>
  <li>livre 4</li>
  <li>livre 5</li>
</ul>
<p><%= link_to "Retour Home", root_path %></p>
