<h3>Liste de mes compétences :</h3>
<ul>
  <li>Elaboration et mise en place d’un plan marketing.</li>
  <li>Ecoute des problématiques et conseil sur les outils les plus adaptés à vos besoins.</li>
  <li>Trouver, enrichir et contacter des leads (prospects) automatiquement.</li>
  <li>Réalisation de sites webs et pages de ventes / location / vitrines.</li>
  <li>Réalisation de campagnes d’emailing.</li>
  <li>Réalisation de campagnes ADS (google / facebook / Instagram).</li>
  <li>Elaboration et réalisation d’un plan de branding d’une entreprise.</li>
  <li>Automatiser les <a title="tâche répétitive">"Drudgery tasks"</a> ou <a title="tâche répétitive">"Donkey Work".</a></li><!-- CSS afficher les 2 mots en "surbrillance pour les faire mieux apparaitre -->
</ul>

<p>Vous êtes entrepreneur ou travaillez dans une TPE/PME ? <a target="blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/"> discutons de vos problématiques (mon expertise est gratuite).</a>
  <!--Mettre un emoji love / message-->

<p><%= link_to "Retour Home", root_path %></p>
