<h3>Ma vision</h3>

<p>Je pense que les entrepreneurs sont les personnes qui façonnent ce monde, et qu’elles méritent plus de soutien; de reconnaissance et de sécurité dans cet environnement imprévisible.Pour défendre cette cause, j’ai décidé d'accompagner des entrepreneurs et petites entreprises dans leur stratégie digitale. Pour installer une relation de confiance et garantir les meilleurs résultats aux entreprises que j'accompagne, je ne me rémunère qu'en fonction du résultat que j'apporte. Ainsi nous travaillons ensemble, avec des intérêts similaires dans un environnement sain.</p>

<h3>Mes études :</h3>
<p>Mon <a target="blank" href="https://thotismedia.com/dut-tc/">DUT TC</a> (bac +2 marketing / commerce / communication) m'as donné goût au commerce et installé de fortes bases marketing.</p>
<p>Ma <a target="blank" href="https://www.google.com/search?sxsrf=ALeKk0114rH82c-MQweWmdnCB6nbBcgb9A%3A1590268879478&ei=z5PJXq_VHPHRgwe3-4SIAw&q=licence+professionnelle+métiers+de+l%27entrepreneuriat&oq=licence+professionnelle+métiers+de+l%27entrepreneuriat&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIECCMQJzICCAAyAggAMgIIADIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46BAgAEEdQhx5YiR9gtyBoAHABeACAAUeIAYoBkgEBMpgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwjv-KGd9crpAhXx6OAKHbc9ATEQ4dUDCAw&uact=5">licence professionnelle MDE</a> (bac +3 gestion d'entreprise) m'as permis de mieux comprendre les problèmatiques rencontrées par les entrepreneurs.</p>
<p>Mon diplôme de <a target="blank" href="https://www.lewagon.com/fr/paris/web-development-course/full-time">concepteur-développeur d'applications web"</a> (équivalent Bac+3/Bac+4) m'as permis de prendre conscience du nombre infini de solutions qu'apporte le web et la programmation.</p>

<h3>Ma personnalité :</h3>

<p>Je suis curieux, timide et réservé.</p>
<p>Je possède un fort esprit analytique, je me fie aux chiffres (data-driven) et-non à mon intuition.</p>
<p>J'aime découvrir, tester et apprendre sur différents sujets (autodidacte).</p>
<p>Je n'aime pas parler de choses abstraites ou sur lesquelles je ne peux pas avoir d'impact.</p>

<h3>Mon potentiel</h3>

<p>La complémentarité de mes études mêlée à ma passion pour le growth-hacking et la gestion de projet me permet d'offrir des solutions optimales et efficaces en toute sécurité.</p>

Vous êtes entrepreneur ou travaillez dans une TPE/PME ? <a target="blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/"> discutons de vos problématiques (mon expertise est gratuite).
  <!--Mettre un emoji love / message-->

<p><%= link_to "Retour Home", root_path %></p>
