<h1>Quentin DELEGLISE</h1>


<h2>Hello, bienvenue sur mon site ;)</h2>
<h2>Ici je partage un peu tout ce qu’il se passe dans ma tête.</h2>
<h3>J’aime l’entrepreneuriat, le Growth Hacking, les mêmes et les répliques de film.</h3>

<ul>
  <li><%= link_to "Mes convictions", convictions_path %></li>
  <li>Mes compétences</li>
  <li>Ressources</li>
  <li>Projets</li>
  <li>Bibliothèque</li>
  <li>Articles</li>
  <li>Vidéos</li>
</ul>
