<h1>Ici c'est la prehome mamene</h1>
<div class="video-container">
  <video autoplay="autoplay" muted="muted">
    <source src="https://res.cloudinary.com/asfxgf/video/upload/v1592255533/intro_getl5m.mp4" type="video/mp4" />
  </video>
</div>
  <footer>
    <%= render 'shared/footer' %>
  </footer>
