<h1>Voici mes différents projets réalisés</h1>

<h3>Le code :</h3>
<p><a target="blank" href="https://github.com/asfxgf">Mon github</a> Pour y trouver certains de mes scripts et exercices.</p> <!-- Insérer logo -->
<p><a target= "blank" href="https://www.youtube.com/watch?v=hb8TT6Z1ptE&t=1302s">Proxy Rungis : </a>2 semaines de projet à résumer en 1 minute 30 ? Pari tenu !</p>

<h3>Le marketing :</h3>
<p>Insertion des projets à venir !</p> <!-- A compléter -->

<h3>Entrepreneuriat :</h3>
<p>Mes projets persos sont top secrets ! Section bientôt disponible</p> <!-- a voir si je met ou pas, c'est pas prioritaire-->

<h3>Freelancing :</h3>
<p>Aucun projet réalisé en freelance aujourd'hui (En cours)</p>

<p><%= link_to "Retour Home", root_path %></p>
