<div class="container">
<h1 id="green">Ressources :</h1>
<h2 id="green">Les incontournables d'un growth-marketeur :</h2>
<br>
<h4 class="title"><u>Entrepreneuriat :</u></h4>
<ul>
  <li><a target="blank" href="https://twitter.com/ericries?lang=fr"><strong>-Eric ries</strong></a> Pour se tenir informer des news aux USA et pour l'inspiration.</li>
  <li><a target="blank" href="https://www.youtube.com/user/Startupfood "><strong>-The family</strong></a> Pour le "mindset" et la culture startup.</li>
  <li><a target="blank" href="http://www.koudetatondemand.co"><strong>-Koudetat</strong></a> Un service de The family, des centaines d'heures de contenu inspirant.</li>
</ul>
<br>
<h4 class="title"><u>Growth tips :</u></h4>
<ul>
  <li><a target="blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/">-Mon réseau</a> Pour les questions ponctuelles qui nécessitent une expertise forte.</li>
  <li><a target="blank" href="https://growthmakers.fr">-Growthmakers</a> Pour s'initier aux outils et astuces web.</li>
  <li><a target="blank" href="https://www.germinal.io">-Germinal</a> Pour découvrir des cas pratiques et appréhender la culture growth.</li>
  <li><a target="blank" href="https://www.youtube.com/channel/UCMuJucbgSTPn48vuaD9WZsg">-Lion</a> Pour apprendre des combinaisons d'outils web, des astuces et process d'entreprises en croissance.</li>
  <li><a target="blank" href="https://deux.io">-Deux.io</a> Pour découvrir toutes les astuces d'un growth.</li>
  <li><a target="blank" href="https://www.growthagency.co/">-Growthagency</a> Une agence qui couvre toute la growth et présente des cas pratiques chiffrés.</li>
  <li><a target="blank" href="https://growthtribe.io/fr/">-Growthtribe</a> Des cours passionnants, une chaîne youtube et des conférences. De vrais experts!</li>
</ul>
<br>
<h4 class="title"><u>Mes communautés :</u></h4>
<ul>
  <li><a target="blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/">-Mon réseau</a>
  Pour toute question relative au code et à l'entrepreneuriat.</li>
  <li><a target="blank" href="https://www.lewagon.com/fr">-Le slack (privé) du wagon</a> Pour des conseils de code, apprendre les bonnes pratiques et découvrir les nouveautés.</li>
  <li><a target="blank" href="https://rubyparis.org">-Paris.rb</a> Pour ma veille sur le language Ruby on Rails.</li>
</ul>
<br>
<h4 class="title"><u>Marketing :</u></h4>
<ul>
  <li><a target="blank" href="https://twitter.com/nireyal?lang=fr">-Nir Eyal</a> Un expert en comportement des achats.</li>
  <li><a target="blank" href="https://twitter.com/robertcialdini?lang=fr">-Robert Cialdini</a> Un référent en psychologie et persuasion.</li>
  <li><a target="blank" href="https://www.sethgodin.com">-Seth Godin</a> Un gourou du marketing.</li>
  <li><a target="blank" href="https://www.youtube.com/channel/UCSmUdD2Dd_v5uqBuRwtEZug">-Stan Leloup</a> Pour les cas pratiques de campagnes marketing et analyses comportementales.</li>
  <li><a target="blank" href="https://www.securite-routiere.gouv.fr/les-medias/nos-campagnes-de-communication">-Les campagnes de sécurité routière</a> Une maîtrise de l'image mêlée à un bon "storytelling", le tout en moins d'une minute.</li>
  <li><a target="blank" href="https://simonsinek.com/">-Simon Sinek</a> Un pionnier du marketing comportemental et un excellent conférencier (TEDX).</li>
  <li><a target="blank" href="https://www.youtube.com/user/BETCEuroRSCGParis/featured">-BETC Paris</a>Communication grand public et storytelling haute couture.</li>
</ul>
<br>

<%= link_to "Retour Accueil", root_path, :class=>"btn btn-flat", :style=>'color:#000000;' %>
</div>
