<h1>Ressources</h1>
<h2>La veille technologique est indispensable pour assurer les meilleures solutions.</h2>
<h3>Voici une liste non-exhaustive des organismes que je suis de prêt.</h3>
<h4>Marketing</h4>
<ul>
  <li><a target="blank" href="https://twitter.com/nireyal?lang=fr">Nir Eyal</a> Un expert en comportement des achats.</li>
  <li><a target="blank" href="https://twitter.com/robertcialdini?lang=fr">Robert Cialdini</a> Un expert en psychologie et persuasion.</li>
  <li><a target="blank" href="https://www.sethgodin.com">Seth Godin</a> Un gourou du marketing.</li>
  <li><a target="blank" href="https://www.youtube.com/channel/UCSmUdD2Dd_v5uqBuRwtEZug">Stan Leloup</a> Cas pratiques de campagnes marketing + analyse comportementale.</li>
  <li><a target="blank" href="https://www.securite-routiere.gouv.fr/les-medias/nos-campagnes-de-communication">Les campagnes de sécurité routière</a> Une maitrise de l'image mêlée à un bon storytelling, le tout en moins d'une minute.</li>
</ul>
<h4>Entrepreneuriat</h4>
<ul>
  <li><a target="blank" href="https://twitter.com/ericries?lang=fr">Eric ries</a> Pour se tenir informer des news aux USA et pour l'inspiration.</li>
  <li><a target="blank" href="https://www.youtube.com/user/Startupfood ">The family</a> Pour l'inspiration et la culture startup.</li>
</ul>
<h4>Growth tips</h4>
<ul>
  <li>Mes amis</li>
  <li><a target="blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/">Mon réseau</a>Pour les questions ponctuelles qui nécessitent une expertise forte.</li>
  <li><a target="blank" href="https://growthmakers.fr">Growthmakers</a> Pour découvrir des combinaisons d'outils web et astuces.</li>
  <li><a target="blank" href="https://www.germinal.io">Germinal</a> Pour découvrir des cas pratiques + culture growth.</li>
  <li><a target="blank" href="https://www.youtube.com/channel/UCMuJucbgSTPn48vuaD9WZsg">Lion</a> Pour découvrir des combinaisons d'outils web, des astuces et process d'entreprises en croissance.</li>
  <li><a target="blank" href="https://deux.io">Deux.io</a> Pour découvrir toutes les astuces d'un growth.</li>
</ul>

<p><%= link_to "Retour Home", root_path %></p>
