<h1>Ici je post mes réalisations vidéos et montages</h1>
<!-- Plus tard il y aura une barre de recherche selon différents critères-->
<p>(Cette catégorie sera remplie en dernier lieu)</p>
<ul>
  <li>video 1</li>
  <li>video 2</li>
  <li>video 3</li>
  <li>video 4</li>
</ul>

<p><%= link_to "Retour Home", root_path %></p>
