<h1>Ici je post mes réalisations vidéos et montages</h1>
<!-- Plus tard il y aura une barre de recherche selon différents critères-->
<p>(Cette catégorie sera remplie en dernier lieu)</p>
<ul>
  <li>Présentation Quentin</li>
  <li>Comment je travaille</li>
  <li>Ma progression quotidienne</li>
  <li>Vidéos montages débutants</li>
</ul>

<p><%= link_to "Retour Home", root_path %></p>
